<article class="products" ng-repeat="products in main.allProducts">
  <!-- start isEdited -->
  <div ng-show="products.isEdited">
    <input type="text" ng-model="products.name"/> - <input type="text" ng-model="products.photo"/> - <input type="text" ng-model="products.price"/>
    <button ng-click="products.isEdited = false">Ok</button>
  </div>
  <div ng-hide="products.isEdited">
    {{products.name}} - {{products.photo}} - {{products.price}}
    <button ng-click="products.isEdited = true">Edit</button>
  <!-- end isEdited -->
  <!-- start remove -->
  <button class="btn" ng-click="removeProduct(item)">Delete</button>
  <!-- end remove -->

  <h3>{{products.name}}</h3>
  <img ng-src="{{products.photo}}" alt="{{products.name}}">
  <h5>{{products.price}}</h5>
</article>

<button name="addProduct" ng-click="clicked = !clicked">Add Product</button>
  <form id="addProductForm" ng-show="clicked" ng-submit="main.addProduct(newproduct)">
    <input type="text" ng-model="newproduct.name" placeholder="add name">
    <input type="text" ng-model="newproduct.photo" placeholder="add photo">
    <input type="text" ng-model="newproduct.price" placeholder="add price">

    <button type="submit">Add A New Product</button>
  </form>
