<!-- add product -->
<div id="addProduct">
  <i name="addProduct" ng-click="clicked = !clicked" class="fa fa-plus-square-o"></i>
  <form id="addProductForm" ng-show="clicked" ng-submit="main.addProduct(newproduct)">
    <input type="text" ng-model="newproduct.name" placeholder="add name">
    <input type="text" ng-model="newproduct.photo" placeholder="add photo">
    <input type="text" ng-model="newproduct.price" placeholder="add price">

    <button type="submit">Add!</button>
  </form>
</div>
<!-- END add product -->
<article class="products" ng-repeat="products in main.allProducts">
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper" ng-class="{doflip: flip}">
    <div class="front">
      <img ng-src="{{products.photo}}" alt="{{products.name}}">
      <div class='info'>
        <h3>{{products.name}}</h3>
        <h5>{{products.price}}</h5>
      </div>
    </div>
    <div class="back">
      <h3>Edit {{products.name}}</h3>
      <input type="text" ng-model="products.name"/>  <input type="text" ng-model="products.photo"/>  <input type="text" ng-model="products.price"/>
    </div>
  </div>
</div>
  <!-- start isEdited -->
  <div ng-show="products.isEdited">
    <i ng-click="products.isEdited = false; main.unflipCard()" class="fa fa-check"></i>
  </div>
  <div ng-hide="products.isEdited">
    <i ng-click="products.isEdited = true; main.flipCard()" class="fa fa-pencil edit"></i>
  <!-- end isEdited -->
  <!-- start remove -->
  <i ng-click="main.removeProduct(products)" class="fa fa-trash-o"></i>
  <!-- end remove -->
</article>
