<h2>You have {{cart.allCartProducts.length}} products in your cart!</h2>
<h2>Your total purchase is {{cart.cartTotal | currency}}!</h2>
<div class="cartContainer">
  <article class="productsCart" ng-repeat="productsCart in cart.allCartProducts">
    <!-- <img ng-src="{{productsCart.photo}}" alt="{{productsCart.name}}">
    <div class='info'>
      <h3>{{productsCart.name}}</h3>
      <h5>{{productsCart.price}}</h5> -->
      <a class="indivLink" href="#/detail/{{productsCart._id}}">
      <prod-directive name='{{productsCart.name}}' photo='{{productsCart.photo}}' price='{{productsCart.price}}'></prod-directive>
      </a>

      <form id="updateProductForm" ng-submit="cart.updateCartProduct(productsCart, productsCart._id)">
        <h3>Qty: {{productsCart.qty}}</h3>
        <input type="text" ng-model="productsCart.qty" placeholder="{{productsCart.qty}}" ng-model-options="{ updateOn: 'blur' }">

        <button class="newQtySubmit" type="submit">Update Quantity</button>
      </form>
      <h3>Total: {{productsCart.price * productsCart.qty | currency}}</h3>

      <i ng-click="cart.removeCartProduct(productsCart._id)" class="fa fa-minus-square-o"></i>
    </div>
  </article>
</div>
