<!-- <h1>{{main.getSingleProd.name}}</h1>
<img ng-src="{{main.getSingleProd.photo}}" alt="{{main.getSingleProd.name}}">
<h5>{{main.getSingleProd.price}}</h5> -->

<prod-directive name='{{main.getSingleProd.name}}' photo='{{main.getSingleProd.photo}}' price='{{main.getSingleProd.price}}'></prod-directive>


<div class="detailControl" ng-controller="DetailCtrl as detail">
<h3>Comments</h3>
<div id="addComment">
  <button name="addComment" ng-click="clicked = !clicked" class="comment">Add Comment!</button>
  <form id="addCommentForm" ng-show="clicked" ng-submit="detail.addComment(newcomment, main.getSingleProd.name)">
    <input type="textarea" ng-model="newcomment.content" placeholder="add comment">
    <button class="newCommentSubmit comment" type="submit">Submit!</button>
  </form>
</div>
<hr>

  <article class="comments"  ng-repeat="comments in detail.allComments | filter : {name: main.getSingleProd.name} : true"">
    <h3 class="indivComment">"{{comments.content}}"</h3>
  </article>
</div>
